body{
	background-color:rgb(179, 204, 255);
}

#titre{
	border:solid 1px black;
	text-align:center;
	margin:1%;
	padding:2%;
	font-weight:bold;
}

.sousTitre{
	transition: 2s transform, 2s color;
}

.sousTitre:hover{
	color: blue;
	transform: translate(100px,0);
	}
